<section
  class="h-screen w-full gap-8 bg-[url('/imagenes/Imagen_Bingo.webp')] bg-cover bg-center"
>
  <!-- Overlay semi-transparente -->
  <div class="absolute inset-0 bg-black opacity-75"></div>

  <div class="relative flex flex-col items-center justify-start pt-6">
    <h1 class="text-5xl text-white mb-8 z-10 font-bold">Juego Bingo Familiar</h1>

    @if (juegoReiniciado()) {
    <div role="alert" class="alert alert-info z-11 mt-30 fixed">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 30 30"
        class="h-8 w-8 shrink-0 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span class="text-lg">El juego Ha sido reiniciado o se Inicio un nuevo Juego</span>
    </div>
    }

    <!-- Grid de formularios e imagen -->
    <div class="relative grid grid-cols-5 gap-3 z-10 items-start">
      <!-- Formulario 1 -->
      <form [formGroup]="bingoForm" (submit)="CambiarModoJuego()" class="w-60">
        <fieldset class="fieldset mb-5">
          <legend class="fieldset-legend text-xl font-medium">Modo de Juego</legend>
          <select formControlName="modoJuego" class="select w-full">
            <option disabled selected value="">Seleccione</option>
            <option value="L">L</option>
            <option value="O">O</option>
            <option value="G">G</option>
            <option value="T">T</option>
            <option value="U">U</option>
            <option value="C">C</option>
            <option value="X">X</option>
            <option value="Pleno">PLENO</option>
          </select>
          <!-- Espacio reservado para el error -->
          <div class="form-text text-sm h-5 text-red-500">
            @if (isValidField(bingoForm, 'modoJuego')) {
            <span>El campo Modo de Juego es requerido</span>
            }
          </div>
        </fieldset>
        <!-- <button
          type="submit"
          class="btn btn-primary border-2 rounded-2xl px-4 py-2 mt-4 mr-2"
        >
          Iniciar Juego
        </button> -->
        <button
          (click)="CambiarModoJuego()"
          type="submit"
          class="btn btn-accent border-2 rounded-2xl px-4 py-2 mt-4 text-white font-bold"
        >
          Cambiar Modo de Juego
        </button>
      </form>

      <!-- Formulario 2 -->
      <form [formGroup]="bingoNumForm" (submit)="AgregarNumero()" class="w-60">
        <fieldset class="fieldset mb-5">
          <legend class="fieldset-legend text-xl font-medium">Número Bingo</legend>
          <input
            type="number"
            formControlName="numero"
            class="input w-full"
            placeholder="Digite el Número"
          />
          <div class="form-text text-sm h-5 text-red-500">
            @if (erroresAgregar() !== null) {
            <span class="form-text text-red-500 text-sm">{{
              erroresAgregar()
            }}</span>
            }
          </div>
        </fieldset>
        <button
          type="submit"
          class="btn btn-primary border-2 rounded-2xl px-4 py-2 mt-4 mr-3"
        >
          Agregar Número
        </button>

        <!-- Botón de reiniciar -->
        <button
          class="mt-4 border-2 rounded-2xl px-6 py-2 bg-blue-600 text-white btn btn-primary"
          (click)="reiniciarJuego()"
        >
          Reiniciar Juego
        </button>
      </form>

      <!-- Casilla Numero Actual -->
      <div class="text-white text-center">
        <h2 class="text-2xl mb-4 font-medium">Numero Actual</h2>
        <div
          class="h-40 w-50 xl:h-50 xl:w-50 mx-auto rounded-lg shadow-md border bg-white mt-5"
        >
          <p class="text-black text-9xl mt-6">{{ numeroActual() }}</p>
        </div>
      </div>

      <!-- Imagen del modo de juego -->
      <div class="text-white text-center">
        <h2 class="text-2xl mb-4 font-medium">Modo de Juego Actual</h2>
        <img
          [src]="modoJuego() ? `imagenes/${modoJuego()}.jpg` : `imagenes/no-image.jpg`"
          alt="Imagen Modo De Juego Bingo"
          class="h-40 w-40 xl:h-50 xl:w-50 mx-auto rounded-lg shadow-md border"
        />
      </div>

      <!-- Imagen de la empresa -->
      <div class="text-white text-center">
        <img
          src="/imagenes/no-image.jpg"
          alt="Imagen Modo De Juego Bingo"
          class="h-40 w-40 xl:h-50 xl:w-50 mx-auto rounded-lg shadow-md border mt-11"
        />
      </div>
    </div>
  </div>

  <!-- Panel del Bingo en parte inferior -->
  <div class="relative bingo-container max-w-screen-2xl mx-auto z-10">
    <div class="bingo-line flex justify-center gap-4 mb-4">
      <span class="text-yellow-400 md:text-6xl font-bold my-2">B</span>
      <span class="text-yellow-400 md:text-6xl font-bold my-2">I</span>
      <span class="text-yellow-400 md:text-6xl font-bold my-2">N</span>
      <span class="text-yellow-400 md:text-6xl font-bold my-2">G</span>
      <span class="text-yellow-400 md:text-6xl font-bold my-2">O</span>
    </div>

    <div
      class="bingo-grid grid grid-cols-5 sm:grid-cols-10 md:grid-cols-15 gap-2 sm:gap-4"
    >
      @for (numero of numerosBingo; track numero) {
      <div
        class="mb-4 bingo-item aspect-square flex items-center justify-center text-lg sm:text-xl md:text-4xl font-semibold rounded-md transition-all"
        [ngClass]="{
          'bg-red-600 text-white fade-bg': bingoService
            .numerosBingo()
            .includes(numero),
          'bg-white text-black border': !bingoService
            .numerosBingo()
            .includes(numero)
        }"
      >
        {{ numero }}
      </div>
      }
    </div>
  </div>
</section>
